* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, #root {
	height: 100%;
	line-height: 1.5;
}

/* body, #root, .page-container {
	min-height: 100%;
} */

:root {
	--primary-color: #222831;
	--secondary-color: #31363F;
	--accent-color: #76ABAE;
	--light-accent-color: #bbdede;
	--white-color: #ffffff;
}

.large-container {
	display: flex;
	/* flex-direction: column; */
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-container {
	display: flex;
	/* flex-direction: column; */
	justify-content: flex-start;
	align-items: flex-start;
	padding: .8rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.page-color {
	background: radial-gradient(#76ABAE 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #76ABAE 49%, #76ABAE 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #76ABAE 49%, #76ABAE 51%, transparent 51%);
	background-size: 2em 2em;
	background-color: #ffffff;
	opacity: 1
}

.page-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.page-content-container {
	display: flex;
	flex-direction: column;
	padding: 0 0 0 .8rem;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
