* {
	padding: 0;
	margin: 0;
}

.page-container {
	overflow: hidden;
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.page-color {
	background-color:#e4e5f1;
}

.page-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
