.multiple-chats-container {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	width: 100%;
	padding: 0;
}

.chat-container {
	display: flex;
	width: 49.5%;
	max-height: 128px;
}

.chat-inner-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: .8rem;
	width: 100%;
}

.border {
	border: 1px solid black;
	border-color: #000000;
	border-radius: .75rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.chat-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	font-size: 14px;
	padding: 10px 20px;
}

.chat-chatter {
	font-size: 14px;
	font-weight: 600;
	/* color: #cfddd6; */
	background-color: var(--accent-color);
	padding: .1rem .4rem;
	margin-bottom: .2rem;
	border-radius: .4rem;
	cursor: pointer;
	opacity: 0.85;
	transition: all 0.3s;
}

.chat-chatter:hover {
	opacity: 1;
}

.chat-chatter::before {
	content: "@";
	font-size: 13px;
}

.chat-body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	overflow-y: auto;
}

.chat-topic {
	font-size: 16px;
	align-items: center;
	padding: 10px 20px;
}

.chat-text {
	font-size: 16px;
	padding: 10px 20px;
	background-color: var(--white-color);
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-button {
	background-color: var(--accent-color);
	color: white;
	border: none;
	border-radius: 10px;
	padding: 14px 20px;
	/* margin: 8px 8px; */
	cursor: pointer;
	opacity: 0.85;
	width: 100%;
	transition: all 0.3s;
}

.chat-button:hover {
	opacity: 1;
}

.chat-box {
	display: flex;
	overflow: hidden;
	/* position: relative; */
	/* flex-direction: column; */
	/* position: relative; */
	background: transparent;
	justify-content: space-between;
	height: 100%;
	width: 100%;
}
