.navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	position: sticky;
	top: 0;
	z-index: 2;
	padding: 7px 40px;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	background-color: var(--white-color);
	opacity: .75;
	/* background-color: rgba(34, 40, 49, 0.9); */
	/* box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2); */
	/* backdrop-filter: blur(8px); */
}

.username-item {
	color: var(--primary-color);
	padding: 10px 20px;	
	cursor: pointer;
	font-weight: 750;
}

.nav-items-array {
	display: flex;
	align-items: space-between;
	justify-content: center;
}

.nav-item {
	padding: 10px 20px;
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

.nav-brand {
	font-weight: 750;
}
