.navbar {
	display: flex;
	position: sticky;
	padding: 7px 40px;
	margin: 0;
	width: 100%;
	align-items: space-between;
	justify-content: center;
	background-color: var(--primary-color);
}

.nav-item {
	padding: 10px 20px;
	color: var(--white-color);
	text-decoration: none;
	cursor: pointer;
}

.nav-brand {
	font-weight: 750;
}
