.sidebar {
	display: flex;
	justify-content: center;
	height: 100%;
	color: var(--secondary-color);
}

.sidebar-list {
	list-style-type: none;
	padding: 1rem 2rem;
}

.sidebar-item {
	padding: .75rem .5rem;
}

.profile-picture {
	width: 128px;
	height: 128px;
}