.sign-up-page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.sign-up-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* max-width: 512px; */
	padding: 24px 24px;
	border: var(--primary-color) 1px ridge;
	border-radius: 10px;
	box-shadow: 02rem 2rem 2rem 2rem rgba(0, 0, 0, 0.1);
}

.sign-up-header {
	display: flex;
	justify-content: center;
	font-size: 15px;
	align-items: center;
	padding: 15px 0;
}

.sign-up-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
	justify-content: center;
	align-items: center;
	padding: 24px;
}

.sign-up-input {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin: 10px 0;
	border: 1px solid var(--primary-color);
	border-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sign-up-button {
	width: 100%;
	/* display: flex; */
	justify-self: center;
	align-self: center;
	padding: 10px 20px;
	border: 1px solid var(--primary-color);
	border-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.sign-up-button:hover {
	background-color: #d2d3db;
	cursor: pointer;
}

.sign-up-sep {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 16px;
	margin: 10px 16px;
}

.oauth-container {
	/* display: flex; */
	height: 100%;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	/* margin: 10px 10px; */
	/* border: 1px solid var(--primary-color);
	border-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.oauth-google {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* padding: 10px 20px;
	margin: 10px 0; */
}

.google-button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	margin: 10px 0;
	border: 1px solid var(--primary-color);
	border-color: var(--primary-color);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
