.input-container {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.input-box {
	margin: auto;
	height: 4rem;
	/* overflow-y: scroll; */
	resize: none;
	border: none;
	border-radius: .75rem;
	font-size: 1.1rem;
	font-weight: 450;
	width: 100%;
	border-radius: 56px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	padding: .6rem 2.2rem;
	line-height: 2.5rem;
}

.conversation {
	display: flex;
	overflow-y: auto;
	width: 100%;
	justify-content: left;
	align-items: flex-start;
	padding: 1rem;
}

.container-of-container {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.2rem;
	padding-top: 0;
	/* box-shadow: 0px -8px 16px rgb(255, 255, 255); */
}

.container-of-container::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY(-100%);
	height: 3rem;
	width: 100%;
	background-color: var(--light-accent-color);
	background: linear-gradient(
		to bottom,
		transparent 0%,
		var(--light-accent-color) 100%
	);
}

.send-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.2rem;
	padding-top: 0;
}

.send-button {
	border-radius: 56px;
	cursor: pointer;
	width: 4rem;
	height: 4rem;
	background-color: var(--white-color);
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	border: none;
}

.conversation-box {
	display: flex;
	overflow: hidden;
	/* position: relative; */
	/* flex-direction: column; */
	/* position: relative; */
	background: transparent;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
	width: 100%;
}

.messages-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.message-outer-box {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.message-inner-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-width: 40rem;
	padding: .6rem 1rem;
	margin: .5rem .8rem .8rem .8rem;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
	border-radius: 32px;
}

.message-content-box{
	display: flex;
	height: 100%;
	max-width: 40rem;
	font-size: .9rem;
	font-weight: 550;
	color: var(--secondary-color);
	padding: 0rem .4rem;
}

.message-meta {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	font-size: .6rem;
	width: 100%;
}

.message-sender {
	padding: 0 .4rem;
}

.sender-me {
	background-color: var(--white-color);
	border: 2px solid var(--primary-color);
}

.sender-other {
	background-color: var(--white-color);
	border: 2px solid var(--accent-color);
}

.right {
	display: flex;
	align-items: flex-end;
}

.left {
	display: flex;
	align-items: flex-start;
}

.bg-primary {
	background-color: var(--primary-color);
}

.bg-secondary {
	background-color: var(--secondary-color);
}

.bg-white {
	background-color: var(--white-color);
}

.bg-accent {
	background-color: var(--accent-color);
}

.bg-light-accent {
	background-color: var(--light-accent-color);
}

.message-content {
	width: 100%;
	word-wrap: break-word;
}
