.navbar-container {
	position: sticky;
	z-index: 10;
	width: 100%;
	/* background-color: var(--light-accent-color); */
	justify-content: center;
	padding-bottom: 0.5rem;
	align-items: center;
}

.navbar {
	display: flex;
	position: relative;
	z-index: 100;
	height: 56px;
	padding: 7px 40px;
	margin: 0;
	width: 100%;
	justify-content: space-between;
	background-color: var(--white-color);
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.navbar-container::before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	height: 2rem;
	width: 100%;
	background-color: var(--light-accent-color);
	background: linear-gradient(
		to top,
		transparent 0%,
		var(--light-accent-color) 100%
	);
}

.username-item {
	color: var(--primary-color);
	padding: 10px 20px;	
	cursor: pointer;
	font-weight: 750;
}

.nav-items-array {
	display: flex;
	align-items: space-between;
	justify-content: center;
}

.nav-item {
	padding: 10px 20px;
	color: var(--primary-color);
	text-decoration: none;
	cursor: pointer;
}

.nav-brand {
	font-weight: 750;
}
